<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{course.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-card>
    <ion-row>
      <ion-col>Title</ion-col>
      <ion-col>{{course.title}}</ion-col>
    </ion-row>
    
  </ion-card> -->
  <h5 class="ion-no-margin ion-margin-top ion-margin-horizontal ">
    <small>
      Lecturer: {{currentStaff[0].first_name}} {{currentStaff[0].last_name}}
    </small>
  </h5>
  <h5 *ngIf="userType == 'staff'" class=" ion-no-margin  ion-margin-horizontal">
    <small>
      Registered Students: {{regStudents.length}}
    </small>
  </h5>

  <!-- <ion-card class="ion-padding"> -->
  <ion-list class="">
    <ion-list-header>
      <ion-label>Upcoming Classes</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let item of course.lectures">
      <ion-label>
        {{item.venue}} <br>
        <small>{{item.date}},
          {{item.time}}
        </small>
        <p *ngIf="userType == 'staff'" style="color:white; vertical-align: top;">
          <ion-icon *ngIf="calculateAttendance(item) < 40" color="danger" name="checkmark-done-circle-outline">
          </ion-icon>
          <ion-icon color="warning" *ngIf="calculateAttendance(item ) > 40 && calculateAttendance(item ) < 70"
            name="checkmark-done-circle-outline"></ion-icon>
          <ion-icon color="success" *ngIf="calculateAttendance(item ) > 70" name="checkmark-done-circle-outline">
          </ion-icon>
          {{calculateAttendance(item)}}
          attended
        </p>
        <p *ngIf="userType == 'student'" d style="color:white; vertical-align: top;">
          <small *ngIf="calculateStudentAttendance(item) ==  false">
            <ion-icon color="danger" name="close-circle-outline">
            </ion-icon>
            Unattended
          </small>
          <small *ngIf="calculateStudentAttendance(item) == true">
            <ion-icon color="success" name="checkmark-done-circle-outline">
            </ion-icon>
            Attended
          </small>
        </p>
      </ion-label>
      <!-- <ion-note>
        <ion-text color="dark">
        </ion-text>
      </ion-note> -->
      <ion-icon slot="end" class="" (click)="presentPopover(item, $event)" name="ellipsis-vertical-outline">
      </ion-icon>
    </ion-item>

  </ion-list>
  <!-- </ion-card> -->
</ion-content>